.action-button {
    width: 100%;
    background-color: #009ca6;
    border-radius: 8px;
    padding-top: 16px;
    padding-bottom: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    border: none;
    cursor: pointer;
  }
  
  .action-button:hover {
    background-color: #008891;
  }
  
  .button-text {
    color: #fff;
    font-size: 14px;
    font-family: Inter, sans-serif;
  }
  