@import "tailwindcss";

app-weekly-calendar {
  height: auto !important;
  min-height: 0 !important;
  max-height: none !important;
  display: block !important;
}


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; } /* cambiar tipografia */
/* cambiar tipografia */ /* cambiar tipografia */ /* cambiar tipografia */
/* cambiar tipografia */ /* cambiar tipografia */ /* cambiar tipografia */
/* cambiar tipografia */ /* cambiar tipografia */ /* cambiar tipografia */
/* cambiar tipografia */ /* cambiar tipografia */ /* cambiar tipografia */
/* cambiar tipografia */ /* cambiar tipografia */ /* cambiar tipografia */
/* cambiar tipografia */ /* cambiar tipografia */ /* cambiar tipografia */
/* cambiar tipografia */ /* cambiar tipografia */ /* cambiar tipografia */
/* cambiar tipografia */ /* cambiar tipografia */ /* cambiar tipografia */
/* cambiar tipografia */ /* cambiar tipografia */ /* cambiar tipografia */